.page-title {
    .d-flex {
        --flex-gap: 0;
        justify-content: space-between;
    }
    @media screen and (min-width: $md-breakpoint) {
        & {
            padding-top: 32px;
        }
        .page-title__content {
            width: 45%;
            padding-left: 84px;
        }
    }
    nav {
        margin-bottom: 42px;
    }
    h1 {
        --font-size: 48px;
        --font-weight: 600;
        margin-top: 0;
        margin-bottom: 16px;
        color: $mecallians-secondary-700-color;
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        line-height: 64px;
        letter-spacing: 2px;
    }
    @media screen and (min-width: $md-breakpoint) {
        h1 {
            --font-size: 64px;
            --font-weight: 500;
        }
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        color: $black-080;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
    .is-subtitle {
        margin-top: 0;
        margin-bottom: 48px;
        color: $mecallians-secondary-700-color;
        font-size: 28px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 2px;
    }
    .btn-group {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
    .icon {
        --icon-width: 24px;
        --icon-height: 24px;
    }
    .page-title__image  {
        display: none;
        visibility: hidden;
        img {
            width: 100%;
        }
    }
    @media screen and (min-width: $md-breakpoint) {
        .page-title__image  {
            display: block;
            visibility: visible;
        }
    }
}