.slider-container {
  .dots {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 40px;
  }
  .dot {
    width: 10px;
    height: 10px;
    display: block;
    background-color: $black-020;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    &.active {
      background-color: $cetim-primary-color;
      width: 30px;
    }
  }
}