// Fonts
$primary-font: Source Sans Pro, sans-serif;

// Colors
$cetim-primary-color: #EF3346;
$cetim-primary-700-color: #CA0538;
$mecallians-secondary-700-color: #001E50;
$mecallians-800-color: #6788B8;
$mecallians-900-color: #B8CEE3;
$black-060: #6A6A6A;
$black-100: #131313;
$black-040: #939393;
$black-020: #D2D2D3;
$black-080: #1D1D1D;
$black-005: #FBFBFB;

// Breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;